.App {
  text-align: center;
  background-color: #d9d9db;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #c62c09;
  height: 150px;
  padding: 20px;
  color: white;
  font-style:italic;
  font-size:20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
